@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300');

:root {
    /*palette*/
    --primary-solid: #FF3333;
    --primary-900: rgba(255,51,51,0.9);
    --primary-500: rgba(255,51,51,0.5);
    --primary-300: rgba(255,51,51,0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29,132,181,0.9);
    --secondary-500: rgba(29,132,181,0.5);
    --secondary-300: rgba(29,132,181,0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31,31,31,0.9);
    --dark-500: rgb(31,31,31,0.5);
    --dark-300: rgb(31,31,31,0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid:#FFFFFF; 

    /*Typography*/

    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*Font-Sizes*/

 
/*Font-Sizes*/

--font-display: 4.6em;
--font-jumbo: 3.8em;
--font-xlarge: 3em;
--font-large: 2.4em;
--font-medium: 1.8em;
--font-small: 1.6em;
--font-xsmall: 1.4em;

/* Spacings */

--spacing-128: 12.8rem;
--spacing-68: 6.8rem;
--spacing-36: 3.6rem;
--spacing-28: 2.8rem;
--spacing-24: 2.4rem;
--spacing-20: 2rem;
--spacing-16: 1.6rem;
--spacing-12: 1.2rem;
--spacing-8: 0.8rem;
}

*
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header, footer{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol{
    list-style-type: none;
}

p{
    font-size: 1.8em;
}

.img{
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.img-inv {
    display: flex;
    flex-direction: row-reverse;
}

.flex__row {
    display: flex;
    flex-direction: row;
}

.margin p, h1, h2, h3, h4 {
    margin: 0;
}
/*----------------------------- HEADER --------------------------------- */
header{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    max-width: 300px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover{
    background-color: var(--primary-900);
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu{
    position: absolute;
    display: none;
    width: 300px;
    background-color: var(--dark-bg-solid);
}

.submenu__link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover{
    background-color: var(--primary-900);
}

/*----------------------------- Página ITEM --------------------------------- */

/*----------------------------- SLIDER ITEM --------------------------------- */
.slider{
    display: flex;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.sliderItem__items{
    display: flex;
    gap: var(--spacing-24);
    padding: 5%;
}

.sliderItem__item {
    width: 350px;
    height: 352px;
    
}

.sliderItem__item img {
    width: 350px;
    height: 352px;
}
.sliderItem__tittle{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
}

.cardItem-item__cover{
    display: flex;
    position: relative;
}
.cardItem-item__cover img{
    animation: fade .9s;
}
.cardItem-item__tag{
font-size: var(--font-xsmall);
text-transform: uppercase;
background-color: var(--primary-solid);
color:var(--light-bg-solid);
padding: var(--spacing-8) var(--spacing-12);
position: absolute;
right: 0;
}
.cardItem-item__img--back{
    display: none;
}

.cardItem-item__cover:hover .cardItem-item__img--back{
    display: block;
}
.cardItem-item__cover:hover .cardItem-item__img--front{
    display: none;
}
.cardItem-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}
.cardItem-item__license{
    font-size: var(--font-xsmall);
    font-weight: 500;
}
.cardItem-item__name{
    font-size: var(--font-medium);
    font-weight: 700;
}
.cardItem-item__price{
    font-size: var(--font-small);
}
.cardItem-item__promo{
    font-size: x-small;
    font-weight: 700;
    color: var(--secondary-solid);
}

/*-----------------------------   FOOTER   --------------------------------- */

.footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy{
    margin-top: var(--spacing-36);
    text-align: center;
}

/*----------------------------- ANIMATIONS --------------------------------- */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*----------------------------- Item --------------------------------- */

.item__main {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.item__car{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
}

.item__substract{
    background-color: #30343F;
    color: #FFFFFF;
    width: 30px;
}
.item__add{
    background-color: #30343F;
    color: #FAFAFF;
    width: 30px;
   
}
.item__card-content {
    display: flex;
    flex-direction: row-reverse;
    width: 1191.84px;
    height: 550px;
    top: 212px;
    left: 111.75px;
}

.main__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700.84px;
    height: 320.73px;
    color: #111111;
    align-self: center;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}
.item__info p, h1, h2 {
    margin: 0;
}

.item__title {
    font-family: var(--font--base--);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.item__name {
    font-family: var(--font--base--);
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}

.item__text {
    font-family: var(--font--base--);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.item__price {
    font-family: Inter;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}

.item__input {
    width: 105.47px;
    height: 35.24px;
    top: 565.95px;
    left: 726.75px;
    text-align: center;
    font-size: 22px;
    color: #747474;
}

.item__btn-addcar {
    width: 181px;
    height: 37.91px;
    top: 565.57px;
    left: 888.33px;
    background: #FF3333;
    font-family: var(--font--base--);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.item__cuotes {
    font-family: var(--font--base--);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D84B5;
}

.item__slide {
    width: 1218.25px;
    height: 623px;
}

.item__slide-title {
    font-family: var(--font--base--);
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
}

.item__slide-article {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.item__slide-article li {
    width: 358.57px;
    height: 352px;

}

.item__slide-article img {
    width: 358.57px;
    height: 352px;

}

/*######################################
############### Page Shop ##############
########################################
*/

/*ASIDE*/

.shop__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 40px 50px;
}


.shop__aside {
    display: inline;
    width: 243.04px;
    height: 493.93px;
    top: 212px;
    left: 110px;
    border-radius: 6px;
    margin-right: 20px;
}

.shop__search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #30343F;
    font-family: var(--font--base--);
}

.shop__text {
    font-family: var(--font--base--);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

#searchItem {
    width: 243.03px;
    height: 44.28px;
    top: 251px;
    left: 110px;
    border-radius: 6px;
}

.shop__search-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shop__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.shop__price-min,
.shop__price-max {
    display: flex;
    gap: 15px;
}

.shop__price p {
    padding-top: 3px;
}

.price {
    font-family: var(--font--base--);
    font-size: 16px;
    position: relative;
    top: 5px;
}

#price__min,
#price__max {
    width: 59.14px;
    height: 27.52px;
    top: 485.57px;
    left: 151px;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
}

.shop__search-content-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shop__input-content {
    display: flex;
    flex-direction: column;
    font-family: var(--font--base--);
    font-size: 18px;
    row-gap: 5px;
    padding-left: 20px;
}

.shop__search-input {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.filter {
    max-width: 24px;
    height: 24px;
    top: 582.06px;
    left: 126px;
    border-radius: 6px;

}

/*SECTION ARTICULOS*/
.shop__content{
    height: 1700px;
}
.shop__article {
    position: absolute;
    width: 960.03px;
    height: 1608px;
    top: 212px;
    left: 368px;
}

.article__card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /*display: flex;
    flex-wrap: wrap;*/
}

.article__card-content li {
    width: 314px;
    align-items: center;
}

.article__card-content img {
    width: 304px;
    align-items: center;
}



.slide__title {
    font-family: var(--font-alternative);
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    text-transform: uppercase;
}

.slide__article {
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 350px;
    height: 512px;
    background-color: #FFFFFF;
}

.card__img{
    display: flex;
}

.card__img img {
    width: 395px;
    height: 352px;
}
.card-item__img--back{
    display: none;
}

.card__img:hover .card-item__img--back{
    display: block;
}
.card__img:hover .card-item__img--front{
    display: none;
}
.card__img img:hover {
    
    width: 410px;
    height: 380px;
}

.card__text {
    position:absolute ;
    background-color: #FF3333;
    text-align: center;
    width: 96.13px;
    height: 30px;
    top: 0;
    right: 0;
   
}


.card__title {
    font-family: var(--font--base--);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.card__description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
}

.card__price {
    font-family: var(--font--base--);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.card__info {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D84B5;
}

/*##################################
############ SECTION CAR ###########
####################################*/
.car__main {
    display: flex;
    flex-direction: column;
    font-family: var(--font--base--);
    color: #111111;
}

.car__title {
    display: flex;
    flex-direction: column;
    width: Hug (506px);
    height: Hug (62px);
    top: 272px;
    left: 110px;
    padding: 70px;
    border: 0px, 0px, 5px, 0px;
    gap: 10px;

}

.car__title-text {
    font-family: var(--font-alternative);
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}

.car__title-line {
    width: 506px;
    padding-left: 0;
    margin-left: 0%;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 5px solid #FF3333;
    
}

.car__description {
    width: 1220px;
    height: 51px;
    top: 394.15px;
    padding-right: 130px;
    left: 110px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;
    background-color: #FAFAFF;

}

.car__description-table {
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
}

.car__description-tbody {
    display: flex;
    justify-content: space-between;
}

.car__description-item {
    font-family: var(--font--base--);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}


.product__card {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 195px;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #00000040;
    margin-top: 40px;
    padding: 0 30px;



}

.product__card-content {
    display: flex;
    flex-direction: row;

    .product__img img {
        width: 118.76px;
        height: 118px;

    }
}
/*-----------------------------------------*/
.car__resumen {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
    margin-top: 50px;
}

.car__resumen-title {
    display: flex;
    flex-direction: column;
    font-family: var(--font-alternative);
    font-size: 42px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    gap: 10px;
}

.car__resumen-title h2 {
    border-bottom: 5px solid #FF3333;
    border-top: 0px;
}

.car__resumen-title hr {
    border-bottom: 5px solid #FF3333;
    border-top: 0px;
}

.resumen__content {
    width: 572px;
    height: 297px;
    top: 1053.15px;
    left: 758px;
    padding: 24px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 0px 10px 0px #00000040;
    margin-top: 30px;
}

.resumen__item,
.resumen__subtotal,
.resumen__costdelivery,
.resumen__total {
    justify-content: space-between;
    padding: 10px 0;
    font-family: var(--font--base--);
    font-size: 10px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #747474;
}

.resumen__item-text:nth-child(1) {
    color: #000000;
}

.resumen__content hr {
    border-top: 2px solid #FF3333;
}

.resumen__btn button {
    width: 572px;
    height: 68.66px;
    margin-top: 90px;
    background: #FF3333;
    font-family: var(--font--base--);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/*-------------------------------*/
