<%- include("partials/header") %>
        <!--Banner-->
        <section class="hero">
            <article class="hero__content container">
                <h3 class="hero__title">Nuevo Ingresos</h3>
                <p class="hero__text">Descubrí el próximo Funko Pop de tu colección</p>
                <a class="hero__link" href="links/shop">SHOP</a>
            </article>  
        </section>
    <main class="main-container">

        <!--Group 20-->
        <section class="collection container">
            <article class="collection__content">
                <h3 class="collection__title">Star Wars & The Mandalorian</h2>
                <p class="collection__text">Disfruta de una saga que sigue agregando personajes a su colección.</p>
                <hr>
                <a class="collection__link" href="links/shop">Ver Colección</a>

            </article>
            <picture class="collection__cover">
                <img src="./img/star-wars/baby-yoda-1.webp" width="600px" height="600" alt="Figura coleccionable de baby-yoda-1">
            </picture>
        </section>
        <!--Sección de Pokemon-->
        <section class="collection container">
            <article class="collection__content">
                <h3 class="collection__title">POKEMON INDIGO</h3>
                <p class="collection__text">Atrapa todos los que puedas y disfruta de una colección llena de amigos.</p>
                <hr>
                <a class="collection__link" href="links/shop">VER COLECCIÓN</a>
            </article>
            <picture class="collection__cover">
                <img src="./img/pokemon/vulpix-1.webp" alt="Figura coleccionable de vulpix-1" >
            </picture>
        </section>
        <!--Sección de publicidad-->
        <section class="collection container">
            <article class="collection__content">
                <h3 class="collection__title">HARRY POTTER</h3>
                <p class="collection__text">Revive los recuerdos de una saga llena de magia y encanto.</p>
                <hr>
                <a class="collection__link" href="links/shop">VER COLECCIÓN</a>
            </article>
            <picture class="collection__cover">
                <img src="./img/harry-potter/snape-patronus-1.webp" alt="Figura coleccionable del encantamiento patronus de snape-patronus-1" >
            </picture>
        </section>
        <!--Sección de News-->
        <section class="slider container glide">
            <h2 class="slider__title">Últimos Lanzamientos</h2>
            <div class="glide__track" data-glide-el="track">
            <ul class="slider__items glide__slides">
            <li class="slider__item glide__slide">
                <article class="card-item">
                    <span class="card-item__tag">Nuevo</span>
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="./img/star-wars/trooper-1.webp" alt="figura coleccionable funko trooper-1 de star-wars">
                            <img class="card-item__img--back" src="./img/star-wars/trooper-box.webp" alt="figura collecionable star-wars box">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__license">STAR WARS</p>
                            <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__item glide__slide">
                <article class="card-item">
                    <span class="card-item__tag">Nuevo</span>
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="./img/pokemon/pidgeotto-1.webp" alt="figura coleccionable funko de pidgeotto-1 de pokemon">
                            <img class="card-item__img--back" src="./img/pokemon//pidgeotto-box.webp" alt="figura colecionable pokemon box">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__license">POKEMON</p>
                            <h4 class="card-item__name">PIDGEOTTO</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__item glide__slide">
                <article class="card-item">
                    <span class="card-item__tag">Nuevo</span>
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="./img/harry-potter/luna-1.webp" alt="figura coleccionable funko de luna-1 de harry-potter">
                            <img class="card-item__img--back" src="./img/harry-potter/luna-box.webp" alt="figura coleccionable Harry Potter box">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__license">HARRY POTTER</p>
                            <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li>
            </ul>      
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="material-symbols:chevron-left"></iconify-icon></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="material-symbols:chevron-right"></iconify-icon></button>
        </div>        
        </section>
    </main>
<%- include("partials/footer") %>
