<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Funkoshop</title>
    <!--Link CSS-->
    <link rel="stylesheet" href="/css/style.css" />

    
</head>
<body>
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="../">
                    <img src="../img/branding/logo_light_horizontal.svg" alt="">  
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__link" href="/links/shop">VER TIENDA</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/links/product">ADMIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/logout">SALIR</a>
                </li>

            </ul>
        </nav>              
    </header>