
<head>
    <%- include("../partials/headerAdmin") %>
</head>

    <main class ="container">

        <section class="contact">    
    
            <div class="logRegBG">
                <p class="logRegTitle">Agregar un producto </p> 
                <p class="LogRegSubTitle">Completa el formulario que esta debajo</p>
                <div class="bodyRegLog">
            
                    <ul class="labelsContainer">
                        <li class="labelRegLog">Sku: </li>
                        <li class="labelRegLog">Nombre de Producto: </li>
                        <li class="labelRegLog">Descripción: </li>
                        <li class="labelRegLog">Licencia: </li>
                        <li class="labelRegLog">Categoría: </li>                        
                        <li class="labelRegLog">Precio: </li>
                        <li class="labelRegLog">stock: </li>
                        <li class="labelRegLog">Imagen principal: </li>
                        <li class="labelRegLog">Imagen Alternativa: </li>
                    </ul>
                    <form class="custom-form" action="/links/add" method="post">
                        <input type="text" class="blankField" name="sku" placeholder="escribe el número del sku"><br>       
                        <input type="text" class="blankField" name="product_name" placeholder=""><br>
                        <input type="text" class="blankField" name="product_description" placeholder=""></br>
                        <div class="form-select" class="blankField"><br>
                            <select name="licence_id" >
                            <option name="licence_id" value="1" >Pokemon</option>
                            <option name="licence_id" value="2">star-wars</option>
                            <option name="licence_id" value="3">Harry Potter </option>    
                        </select><br> 
                        <select name="category_id"  ><br>
                            <option name="category_id" value="1" >Funkos</option><br>
                            <option name="category_id" value="2">Remeras</option><br>
                            <option name="category_id" value="3">Llaveros </option>  <br>  
                        </select> </div><br>
                        <input type="text" class="blankField"name="price" placeholder=""><br>
                        <input type="text" class="blankField"name="stock" placeholder=""><br>
                        <input type="text" class="blankField" name="image_front" placeholder=""><br>
                        <input type="text" class="blankField" name="image_back" placeholder=""><br>



                        <input type="submit" value="Evniar Cambios" class="botonRojo">
                    </form>   
                </div>
        </section>

    </main>


<%- include("../partials/footer") %>