<%- include("../partials/headerAdmin") %>


<div class="container collection__title">

    Bievenido a su perfil <%= user.username %>
</div>
    <img class="img-profile" src="./img/pokemon/pikachu-1.webp" alt="">

    </a>




        <%- include("../partials/footer") %>