    <!--Header-->
<%- include("../partials/header") %>

<!-- Login -->

<div class="logRegBG">
    <% if ( message ) { %>
        <div class="flash-err"><%= message %></div>
   <% } %>
    <p class="logRegTitle">INGRESAR A MI CUENTA</p>     
    <div class="bodyRegLog">
        <ul class="labelsContainer">
            <li class="labelRegLog">Email: </li>
            <li class="labelRegLog">Contraseña: </li>
        </ul>
        <form action="/signin" method="post">
            <input type="email" class="blankField" name="username" placeholder="johndoe@correo.com"><br>
            <input type="password" class="blankField" name="password" placeholder="•••••••••"><br>
        
    </div>
    <div>    
        <input type="submit" value="Ingresar" class="botonRojo">
        <input type="checkbox" id="termsBox" name="termsBox" />
            <label for="terms" id="acepto">Recordarme</label>
    </div></form>
    <div>
        <a href="#" id="olvidePass">Olvidé mi contraseña</a>
    </div>  
</div>

<!--Footer-->
<%- include("../partials/footer") %>



