
        <!--Header-->
<%- include("../partials/header") %>
    -->
<!-- Registo -->

<div class="logRegBG">
    <p class="logRegTitle">CREA TU CUENTA</p> 
    <p class="LogRegSubTitle">Completa el formulario para ser parte del mundo de los Funkos</p>
    <div class="bodyRegLog">
        <% if ( message ) { %>
            <div class="flash-err"><%= message %></div>
       <% } %>
        <ul class="labelsContainer">
            <li class="labelRegLog">Nombre: </li>
            <li class="labelRegLog">Apellido: </li>
            <li class="labelRegLog">Email: </li>
            <li class="labelRegLog">Contraseña: </li>
            <li class="labelRegLog">Repita la contraseña: </li>
        </ul>
        <form action="/signup" method="post">
            <input type="text" class="blankField" name="firstname" placeholder="John"><br>       
            <input type="text" class="blankField" name="lastname" placeholder="Doe"><br>
            <input type="email" class="blankField" name="username" placeholder="johndoe@correo.com"><br>
            <input type="password" class="blankField" name="password" placeholder="•••••••••"><br>
            <input type="password" class="blankField" name="password1" placeholder="•••••••••"><br>
        
    </div>
    <div>
        <input type="submit" value="Registrar" class="botonRojo">
        <input type="checkbox" id="termsBox" name="termsBox" required>
        <label for="terms" id="acepto">Acepto </label><a href="#" id="linkTerms">Términos y Condiciones</a>
    </div></form>
</div>

<!--Footer-->
<%- include("../partials/footer") %>